html, body {
  font-size: 14px;
  line-height: 1.42857143;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.dark-theme {
  color: #d9d9d9;
  background-color: #0d0d0d;
}

nav {
  position: relative;
  min-height: 50px;
  background: #1f1f1f ;
  padding-left: 76px;
}

nav .logo {
  float: left;
  height: 50px;
  padding: 10px;
  margin-left: -76px;
}

nav .logo img {
  width: 46px;
  height: 30px;
}

a {
  color: #00B7FF;
}

.container {
  clear: both;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  background-color: #1f1f1f;
}

.container-inner {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.gallery {
  flex: 1 0 19%;
  position: relative;
  margin: 3px;
  margin-bottom: 3em;
}


.gallery-image {
  display: block;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  width: 294px;
}

.caption {
  line-height: 15px;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  overflow: hidden;
  padding: 3px;
  font-weight: 700;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  background-color: #404040;
}

.slideshow-image {
  max-height: 95%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.slideshow-image.wide {
  width: 90%;
}

.slideshow-overlay {
  display: block;
  position: relative;
  z-index: 3;
  height:95vh;
}

.slideshow-overlay div {
  display: inline-block;
  width: 50%;
  height: 95vh;
}

.nav-items {
  display: flex;
  height: 30px;
  padding: 10px;
  align-items: center;
}

.nav-item {
  margin-right: 15px;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 5px 0 15px 0;
}

.gallery-controls div {
  margin-left: 15px;
  margin-right: 15px;
}

.stepper-arrow {
  height: 100%;
}

.stepper-arrow img {
  height: 25px;
}


.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.slideshow-sidebar {
  height: calc(93% - 50px);
  width: 200px;
  position: absolute;
  left: 0;
  top: 50px;
  padding: 65px 25px 25px 25px;
  background-color: #262626;
  z-index: 1;
  visibility: hidden;
}

.show-sidebar .slideshow-sidebar {
  visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 5;
}

.sidebar-toggle {
  position: absolute;
  left: 0;
  top: 50px;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #262626;
  z-index: 6;
}

.sidebar-toggle img {
  height: 30px;
}

.sidebar-stack {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 5px 0 15px 0;
}

.sidebar-stack div {
  margin-left: 15px;
  margin-right: 15px;
}

.interval-input input {
  width: 35px;
  height: 25px;
  text-align: center;
  background-color: #404040;
  color: #d9d9d9;
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #343434;
  border-radius: 3px;
  font-size: 17px;
  text-align: center;
}

.slideshow-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 45px;
  padding: 10px;
  margin: 0 15px;
  border-radius: 3px;
  background-color: #3a3a3a;
  color: #d9d9d9;
  font-family: 'Noto Sans', sans-serif;
}

.add-button {
  z-index: 3;
  border: 2px solid #353535;
  border-radius: 3px;
  margin: 0;
  padding: 2px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #404040;
}

.add-button img {
  width: 20px;
  height: 20px;
}

.svg-icon {
  filter: invert(100%) sepia(79%) saturate(30%) hue-rotate(32deg) brightness(93%) contrast(83%);
}
