:root {
  --text-color: #d9d9d9;
  --link-color: #00B7FF;
  --gray-1: #404040;
  --gray-2: #1f1f1f;
  --gray-3: #292929;
  --gray-4: #0d0d0d;
  --red: #a10016;
  --pink-1: #e619c3;
  --yellow-highlight: #e6e3aa;
  --pink-1-filter: invert(36%) sepia(82%) saturate(5169%) hue-rotate(291deg) brightness(88%) contrast(113%);
  --black-to-text-filter: invert(87%) sepia(6%) saturate(19%) hue-rotate(27deg) brightness(104%) contrast(84%);
}

html, body {
  font-size: 14px;
  line-height: 1.42857143;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.dark-theme {
  color: var(--text-color);
  background-color: var(--gray-4);
}

nav {
  position: relative;
  min-height: 50px;
  background: var(--gray-2) ;
  padding-left: 76px;
}

nav .logo {
  float: left;
  height: 50px;
  padding: 6px;
  margin-left: -76px;
  cursor: pointer;
}

nav .logo img {
  height: 38px;
}

.logo-pink {
  filter: var(--pink-1-filter)
}

a {
  color: var(--link-color);
}

button {
  cursor: pointer;
}

input {
  text-align: center;
  background-color: var(--gray-1);
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #343434;
  border-radius: 3px;
  font-size: 17px;
}

.container {
  clear: both;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  background-color: var(--gray-2)
}

.container-inner {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.gallery {
  flex: 0 0 19%;
  position: relative;
  margin: 3px;
  margin-bottom: 2em;
}

.gallery-inner {
  cursor: pointer;
}


.gallery-image {
  display: block;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  width: 294px;
}

.caption {
  line-height: 15px;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  overflow: hidden;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  background-color: var(--gray-1)
}

.caption span {
  display: block;
}

.caption .subtitle {
  font-size: 13px;
  font-weight: 500px;
  color: var(--pink-1);
  margin-bottom: 4px;
}

.slideshow-image {
  max-height: 95%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.show-sidebar .slideshow-image {
  left: 300px;
}

.slideshow-overlay {
  display: block;
  position: relative;
  z-index: 3;
  height:95vh;
}

.slideshow-overlay div {
  display: inline-block;
  width: 50%;
  height: 95vh;
}

.nav-items {
  display: flex;
  height: 30px;
  padding: 10px;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  padding: 0 10px;
  text-align: center;
  border-right: 2px solid var(--gray-1)
}

.nav-item:last-child {
  border: none;
}

.nav-item-inner {
  padding: 2px 10px;
}

.nav-item-inner.selected {
  background-color: var(--gray-1);
  border-radius: 3px;
}

.slideshow-count {
  display: inline-block;
  background-color: var(--red);
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  padding: 1px 5px;
  border-radius: 3px;
  margin-left: 3px;
}

.page-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 5px 0 15px 0;
}

.stepper-arrow {
  margin: 0 6px;
}

.page-number {
  margin: 0 8px;
}

.page-number div {
  padding-top: 2px;
  display: inline;
}

.page-select-number {
  width: 40px;
  background-color: var(--gray-1);
  font-size: 18px;
  color: var(--text-color);
  display: inline-block;
  border: 0;
  border-radius: 3px;
  text-align: center;
  padding: 2px 0;
}

.page-select-number:disabled {
  width: 1rem;
  background-color: var(--gray-2);
}

.page-select-number::-webkit-inner-spin-button, 
.page-select-number::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.stepper-arrow {
  cursor: pointer;
  height: 100%;
}

.stepper-arrow img {
  height: 25px;
}


.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}


.slideshow-sidebar {
  height: calc(93% - 50px);
  width: 280px;
  position: absolute;
  left: 0;
  top: 50px;
  padding: 65px 10px 10px 10px;
  background-color: var(--gray-2);
  z-index: 1;
  visibility: hidden;
}

.show-sidebar .slideshow-sidebar {
  visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 5;
}

.sidebar-toggle {
  position: absolute;
  left: 0;
  top: 50px;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: var(--gray-2);
  z-index: 6;
}

.sidebar-toggle img {
  height: 30px;
}

.sidebar-stack {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 5px 0 15px 0;
}

.slideshow-covers {
  flex-direction: column;
  overflow-y: auto;
  max-height: 1020px;
  background-color: var(--gray-4);
}

.slideshow-covers .gallery {
  width: 240px;
  margin: 6px;
  flex: 1 1 auto;
}

.slideshow-covers .gallery-image {
  width: 240px;
}

.slideshow-covers .gallery .caption {
  width: auto;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-info .gallery {
  width: 280px;
  flex: 1 1 auto;
  margin: 0;
}

.book-info .gallery-inner {
  cursor: auto
}

.book-info .gallery .caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.04;
}

.book-info .gallery-image {
  width: 280px;
}

.book-info-inner {

  margin: 30px 10px;
}

.book-info-line {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}

.book-info-line .info-label{
  padding: 4px;
  margin-right: 10px;
  text-align: left;
  max-width: 30%;
}

.book-info-line .info-items{
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.book-info-line .info-item {
  margin: 0 4px 7px auto;
  padding: 4px 10px;
  overflow-wrap: break-word;
  min-width: 0px;
}

.book-info-line .info-items .info-item{
  margin-left: 0;
}

.clickable {
  cursor: pointer;
}

.book-info-line .info-item.clickable{
  background-color: var(--gray-1);
  color: var(--pink-1);
  border-radius: 4px;
}

.sidebar-stack div {
  margin-left: 15px;
  margin-right: 15px;
}

.interval-input input {
  width: 35px;
  height: 25px;
  text-align: center;
  background-color: var(--gray-1);
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #343434;
  border-radius: 3px;
  font-size: 17px;
}

.slideshow-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 45px;
  padding: 10px;
  margin: 0 15px;
  border-radius: 3px;
  background-color: var(--gray-1);
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
}

.add-button {
  z-index: 3;
  border: 2px solid var(--gray-2);
  border-radius: 3px;
  margin: 0;
  padding: 2px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--gray-1);
}

.add-button img {
  width: 20px;
  height: 20px;
}

.svg-icon {
  filter: var(--black-to-text-filter);
}

.svg-icon-pink {
  filter: var(--pink-1-filter);
}

.text-icon {
  width: 16px;
  height: 16px;
}

.info-icon {
  background-color: var(--gray-1);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 4px 7px 0;
  padding: 6px 7px 2px 7px ;
  min-width: 0px;
}

.sort-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-bottom: 10px;
}

.sort-order {
  cursor: pointer;
  background-color: var(--gray-1);
  padding: 5px 20px;
  margin: 3px 30px;
  border: 2px solid black;
  border-radius: 3px;
}

.sort-order.selected {
  border: 2px solid var(--yellow-highlight);
}

.hidden {
  visibility: hidden;
}

.loading-container {
  height: calc(100vh - 85px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container img {
  width: 400px;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-dialog {
  z-index: 2;
  position: absolute;
  margin: auto;
  padding: 20px;
  background-color: var(--gray-2);
  color: var(--pink-1);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-container {
  display: flex;
}

.modal-dialog button {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 3px;
  background-color: var(--gray-1);
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
}

.filter-info {
  display: flex;
  flex-direction: column;
}

.filter-info-container {
  display: flex;
  flex-direction: row;
  padding-left: 5em;
}

.filter-info-item {
  display: flex;
  flex-direction: row;
  background-color: var(--gray-3);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.filter-info-label {
  background-color: var(--gray-1);
  padding: 8px 8px 8px 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--pink-1)

}

.filter-info-value {
  padding: 8px 16px 8px 8px;
  color: var(--text-color);
  text-decoration: none;
}