html,
body {
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.dark-theme {
  color: #d9d9d9;
  background-color: #0d0d0d;
}

a {
  color: #00B7FF;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  font-family: "Noto Sans", sans-serif;
  color: #d9d9d9;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px #292929;
}

button:disabled {
  border-color: #1f1f1f;
  background-color: #292929;
  color: #404040;
  cursor: default;
}

input {
  text-align: center;
  background-color: #404040;
  color: #d9d9d9;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #343434;
  border-radius: 3px;
  font-size: 17px;
}

input:focus {
  outline: none;
  box-shadow: inset 0px 0px 2px 3px #292929;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  text-align: center;
}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.clickable {
  cursor: pointer;
}

.add-button {
  z-index: 3;
  border: 2px solid #1f1f1f;
  border-radius: 3px;
  margin: 0;
  padding: 2px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #404040;
}
.add-button img {
  width: 20px;
  height: 20px;
}

.hidden {
  visibility: hidden;
}

.loading-container {
  height: calc(100vh - 85px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-container img {
  width: 400px;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #0d0d0d;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #404040;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: #000;
}

.svg-icon {
  filter: invert(87%) sepia(6%) saturate(19%) hue-rotate(27deg) brightness(104%) contrast(84%);
}

.svg-icon-disabled {
  filter: brightness(0) saturate(100%) invert(13%) sepia(10%) saturate(18%) hue-rotate(51deg) brightness(96%) contrast(92%);
}

.svg-icon-pink {
  filter: invert(36%) sepia(82%) saturate(5169%) hue-rotate(291deg) brightness(88%) contrast(113%) drop-shadow(0 0 20px #e619c3);
}

.svg-icon-favorite {
  filter: invert(87%) sepia(15%) saturate(2234%) hue-rotate(358deg) brightness(97%) contrast(92%);
}

.text-icon {
  width: 16px;
  height: 16px;
}

.info-icon {
  background-color: #404040;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 4px 7px 0;
  padding: 6px 7px 2px 7px;
  min-width: 0px;
}

.favorite-icon {
  padding: 10px;
  margin: auto 0;
}

.BooksApp .gallery {
  flex: 0 0 19%;
  position: relative;
  margin: 3px;
  margin-bottom: 2em;
}
.BooksApp .gallery-inner {
  cursor: pointer;
}
.BooksApp .gallery-image {
  display: block;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  width: 294px;
}
.BooksApp .gallery-container {
  clear: both;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  background-color: #1f1f1f;
}
.BooksApp .gallery-container-inner {
  display: flex;
  flex-wrap: wrap;
}
.BooksApp .gallery-container .sort-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-bottom: 10px;
}
.BooksApp .gallery-container .sort-order {
  cursor: pointer;
  background-color: #404040;
  padding: 5px 20px;
  margin: 3px 15px;
  border: 2px solid black;
  border-radius: 3px;
}
.BooksApp .gallery-container .sort-order.selected {
  border: 2px solid #e6e3aa;
}
.BooksApp .gallery-container .sort-index {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  font-size: large;
}
.BooksApp .gallery-container .sort-index-item {
  cursor: pointer;
  background-color: #404040;
  padding: 3px 10px;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
}
.BooksApp .gallery-container .sort-index-item.selected {
  border: 2px solid #e6e3aa;
}
.BooksApp .gallery-container .sort-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-bottom: 10px;
}
.BooksApp .gallery-container .sort-select .sort-order {
  cursor: pointer;
  background-color: #404040;
  padding: 5px 20px;
  margin: 3px 15px;
  border: 2px solid black;
  border-radius: 3px;
}
.BooksApp .gallery-container .sort-select .sort-order.selected {
  border: 2px solid #e6e3aa;
}

.VideosApp .videogallery {
  flex: 0 0 19%;
  position: relative;
  margin: auto;
  margin-bottom: 2em;
}
.VideosApp .videogallery-inner {
  cursor: pointer;
}
.VideosApp .videogallery-image {
  background-color: black;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  width: 480px;
  overflow: hidden;
}
.VideosApp .videogallery-image img {
  display: block;
  max-width: 480px;
  max-height: 270px;
  width: auto;
  height: auto;
  margin: auto;
}
.VideosApp .videogallery-container {
  clear: both;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  background-color: #1f1f1f;
}
.VideosApp .videogallery-container-inner {
  display: flex;
  flex-wrap: wrap;
}
.VideosApp .videogallery-container .sort-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-bottom: 10px;
}
.VideosApp .videogallery-container .sort-order {
  cursor: pointer;
  background-color: #404040;
  padding: 5px 20px;
  margin: 3px 15px;
  border: 2px solid black;
  border-radius: 3px;
}
.VideosApp .videogallery-container .sort-order.selected {
  border: 2px solid #e6e3aa;
}
.VideosApp .videogallery-container .sort-index {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  font-size: large;
}
.VideosApp .videogallery-container .sort-index-item {
  cursor: pointer;
  background-color: #404040;
  padding: 3px 10px;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
}
.VideosApp .videogallery-container .sort-index-item.selected {
  border: 2px solid #e6e3aa;
}
.VideosApp .videogallery-container .sort-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-bottom: 10px;
}
.VideosApp .videogallery-container .sort-select .sort-order {
  cursor: pointer;
  background-color: #404040;
  padding: 5px 20px;
  margin: 3px 15px;
  border: 2px solid black;
  border-radius: 3px;
}
.VideosApp .videogallery-container .sort-select .sort-order.selected {
  border: 2px solid #e6e3aa;
}

.VideosApp .actorgallery {
  flex: 0 0 19%;
  position: relative;
  margin: auto;
  margin-bottom: 2em;
}
.VideosApp .actorgallery-inner {
  cursor: pointer;
}
.VideosApp .actorgallery-image {
  display: block;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  width: 480px;
}
.VideosApp .actorgallery-container {
  clear: both;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  background-color: #1f1f1f;
}
.VideosApp .actorgallery-container-inner {
  display: flex;
  flex-wrap: wrap;
}
.VideosApp .actorgallery-container .sort-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-bottom: 10px;
}
.VideosApp .actorgallery-container .sort-order {
  cursor: pointer;
  background-color: #404040;
  padding: 5px 20px;
  margin: 3px 15px;
  border: 2px solid black;
  border-radius: 3px;
}
.VideosApp .actorgallery-container .sort-order.selected {
  border: 2px solid #e6e3aa;
}
.VideosApp .actorgallery-container .sort-index {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  font-size: large;
}
.VideosApp .actorgallery-container .sort-index-item {
  cursor: pointer;
  background-color: #404040;
  padding: 3px 10px;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
}
.VideosApp .actorgallery-container .sort-index-item.selected {
  border: 2px solid #e6e3aa;
}
.VideosApp .actorgallery-container .sort-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding-bottom: 10px;
}
.VideosApp .actorgallery-container .sort-select .sort-order {
  cursor: pointer;
  background-color: #404040;
  padding: 5px 20px;
  margin: 3px 15px;
  border: 2px solid black;
  border-radius: 3px;
}
.VideosApp .actorgallery-container .sort-select .sort-order.selected {
  border: 2px solid #e6e3aa;
}

.caption {
  line-height: 15px;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  overflow: hidden;
  padding: 8px 0 10px 0;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background-color: #404040;
}
.caption-text {
  margin: auto;
  padding-left: 36px;
}
.caption-text span {
  display: block;
}
.caption .subtitle {
  font-size: 13px;
  color: #e619c3;
  margin-bottom: 4px;
}
.caption.favorite {
  box-shadow: inset 0 -3px 7px 0 rgba(235, 205, 33, 0.6784313725);
}

.videogallery .caption .subtitle {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.videogallery .caption .subtitle span {
  flex: 1 0 30%;
  white-space: pre;
}

nav {
  display: flex;
  position: relative;
  height: 50px;
  background: #1f1f1f;
  padding-left: 76px;
}
nav .nav-items {
  display: flex;
  height: 30px;
  padding: 10px;
  align-items: center;
}
nav .nav-items.left {
  margin-right: auto;
}
nav .nav-items.right {
  margin-left: auto;
}
nav .nav-item {
  cursor: pointer;
  padding: 0 10px;
  text-align: center;
  border-right: 2px solid #404040;
}
nav .nav-item:last-child {
  border: none;
}
nav .nav-item-inner {
  padding: 2px 10px;
}
nav .nav-item-inner.selected {
  background-color: #404040;
  border-radius: 3px;
}
nav .nav-item.right {
  margin-left: auto;
}
nav .logo {
  float: left;
  height: 50px;
  padding: 6px;
  margin-left: -76px;
  cursor: pointer;
}
nav .logo img {
  height: 38px;
}
nav .logo-pink {
  filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(2562%) hue-rotate(293deg) brightness(87%) contrast(92%);
}

.page-select {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 5px 0 15px 0;
}

.stepper-arrow {
  margin: 0 6px;
}

.page-number {
  margin: 0 8px;
}
.page-number div {
  padding-top: 2px;
  display: inline;
}

.page-select-number {
  width: 40px;
  background-color: #404040;
  font-size: 18px;
  color: #d9d9d9;
  display: inline-block;
  border: 0;
  border-radius: 3px;
  text-align: center;
  padding: 2px 0;
}
.page-select-number:disabled {
  width: 1rem;
  background-color: #1f1f1f;
}
.page-select-number::-webkit-inner-spin-button, .page-select-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.stepper-arrow {
  cursor: pointer;
  height: 100%;
}
.stepper-arrow img {
  height: 25px;
}

.slideshow-image {
  max-height: 95%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.show-sidebar .slideshow-image {
  left: 300px;
}
.slideshow-overlay {
  display: block;
  position: relative;
  z-index: 3;
  height: 95vh;
}
.slideshow-overlay div {
  display: inline-block;
  width: 50%;
  height: 95vh;
}
.slideshow-sidebar {
  height: calc(93% - 50px);
  width: 280px;
  position: absolute;
  left: 0;
  top: 50px;
  padding: 65px 10px 10px 10px;
  background-color: #1f1f1f;
  z-index: 1;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
.show-sidebar .slideshow-sidebar {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  z-index: 5;
}
.slideshow-sidebar-stack {
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 5px 0 15px 0;
}
.slideshow-sidebar-stack div {
  margin-left: 15px;
  margin-right: 15px;
}
.slideshow-sidebar-toggle {
  position: absolute;
  left: 0;
  top: 50px;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #1f1f1f;
  z-index: 6;
}
.slideshow-sidebar-toggle img {
  height: 30px;
}
.slideshow-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 45px;
  padding: 10px;
  margin: 0 15px;
  border-radius: 3px;
  background-color: #404040;
  color: #d9d9d9;
  font-family: "Noto Sans", sans-serif;
}
.slideshow-controls .interval-input input, .slideshow-controls .interval-counter input {
  width: 35px;
  height: 25px;
  text-align: center;
  background-color: #404040;
  color: #d9d9d9;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #343434;
  border-radius: 3px;
  font-size: 17px;
}
.slideshow-count {
  display: inline-block;
  background-color: #a10016;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  padding: 1px 5px;
  border-radius: 3px;
  margin-left: 3px;
}
.slideshow-covers {
  flex-direction: column;
  overflow-y: auto;
  max-height: 1020px;
  background-color: #0d0d0d;
}
.slideshow-covers .gallery {
  width: 240px;
  margin: 6px;
  flex: 1 1 auto;
}
.slideshow-covers .gallery-image {
  width: 240px;
}
.slideshow-covers .gallery .caption {
  width: auto;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
.slideshow-info {
  width: 100%;
}
.slideshow-info .saveupdate-button {
  width: 90%;
  padding: 3px;
  margin: 2px auto;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #404040;
  color: #d9d9d9;
  font-family: "Noto Sans", sans-serif;
  color: #e619c3;
  font-size: 14px;
  font-weight: 450;
}

.pagegrid {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 95%;
  max-width: 100%;
  background-color: #0d0d0d;
}
.show-sidebar .pagegrid {
  left: 300px;
}
.pagegrid-page {
  width: 20%;
}
.pagegrid-page-image {
  width: 90%;
  display: block;
  margin-bottom: 5px;
  border: 3.5px solid #0d0d0d;
}
.pagegrid-page-image.selected {
  border: 3.5px solid #ebcd21;
  border-radius: 1px;
}

.book-info {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.book-info-inner {
  overflow: auto;
  flex-grow: 0;
}
.book-info .gallery {
  width: 280px;
  flex: 1 1 auto;
  margin: 0;
}
.book-info .gallery-inner {
  cursor: auto;
}
.book-info .gallery .caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.04;
}
.book-info .gallery-image {
  width: 280px;
}
.book-info-line {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}
.book-info-line .info-label {
  padding: 4px;
  margin-right: 10px;
  text-align: left;
  max-width: 30%;
}
.book-info-line .info-items {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}
.book-info-line .info-item {
  margin: 0 4px 7px auto;
  padding: 4px 10px;
  overflow-wrap: break-word;
  min-width: 0px;
}
.book-info-line .info-items .info-item {
  margin-left: 0;
}
.book-info-line .info-item.clickable {
  background-color: #404040;
  color: #e619c3;
  border-radius: 4px;
}
.book-info .edit-container {
  margin: 15px 0 5px 0;
  padding: 0 30px;
}
.book-info .edit-button {
  width: 100%;
  padding: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #404040;
  color: #d9d9d9;
  font-family: "Noto Sans", sans-serif;
  color: #e619c3;
  font-size: 16px;
  font-weight: 600;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-dialog {
  z-index: 2;
  position: absolute;
  margin: auto;
  padding: 20px;
  background-color: #1f1f1f;
  color: #e619c3;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-dialog .input-container {
  display: flex;
}
.modal-dialog .input-container button {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 3px;
  background-color: #404040;
  color: #d9d9d9;
  font-family: "Noto Sans", sans-serif;
}

.filter-info {
  display: flex;
  flex-direction: column;
}
.filter-info-container {
  display: flex;
  flex-direction: row;
  padding-left: 5em;
}
.filter-info-item {
  display: flex;
  flex-direction: row;
  background-color: #292929;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
}
.filter-info-label {
  background-color: #404040;
  padding: 8px 8px 8px 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #e619c3;
}
.filter-info-value {
  padding: 8px 16px 8px 8px;
  color: #d9d9d9;
  text-decoration: none;
}

.edit-panel {
  margin: 0 20px;
  font-size: 18px;
}
.edit-panel h3 {
  font-size: 1.2em;
  margin-bottom: 0;
}
.edit-panel h4 {
  margin-top: 0.2em;
}
.edit-panel-inner {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  overflow: auto;
  padding: 10px;
}
.edit-panel-row {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  text-align: center;
}
.edit-panel-row span {
  padding-top: 3px;
}
.edit-panel-row-inner {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.edit-panel-row-label {
  font-weight: 700;
  color: #d9d9d9;
  margin-right: 20px;
}
.edit-panel-row-value {
  margin-left: auto;
  text-align: flex-end;
  padding-top: 2px;
}
.edit-panel-row-value .click-items {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}
.edit-panel-row-value .click-item {
  margin: 0 4px 7px 4px;
  padding: 4px 10px;
  overflow-wrap: break-word;
  min-width: 0px;
  background-color: #404040;
  border-radius: 4px;
}
.edit-panel-row-value input {
  width: 450px;
  margin: 0;
  padding: 3px 20px;
  background-color: #d9d9d9;
  color: black;
  box-sizing: border-box;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.edit-panel-row-value-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.edit-panel-row-value-add button {
  padding: 6px 8px;
  margin: -1px 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.edit-mode .edit-panel-row-value {
  display: flex;
  flex-direction: column;
}
.edit-panel-row-collection {
  display: flex;
  flex-direction: row;
  padding: 15px;
  flex-wrap: wrap;
}
.edit-panel-row-collection-item {
  margin: 0 3px 8px 3px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.edit-panel-row-collection-item .item-value {
  background-color: #292929;
  padding: 6px 8px 6px 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #e619c3;
}
.edit-panel-row-collection-item .remove-button {
  display: flex;
  background-color: #404040;
  padding: 2px 4px 0 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #d9d9d9;
  cursor: pointer;
}
.edit-panel-row-collection-item .remove-button img {
  width: 32px;
  height: 32px;
}
.edit-panel-row-buttons {
  display: flex;
  padding-left: 4px;
}
.edit-mode .edit-panel-row-buttons img {
  width: 24px;
  height: 24px;
}
.multi-row .edit-mode .edit-panel-row-buttons {
  padding-left: 15px;
  flex-direction: column;
}
.multi-row .edit-mode .edit-panel-row-buttons button {
  margin: 0 0 6px 0;
}
.edit-panel-row-buttons button {
  width: 35px;
  height: 35px;
  outline: none;
  margin-left: 5px;
}
.edit-panel-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 10px 0 10px;
}
.edit-panel-controls .delete-button {
  margin-right: auto;
}
.edit-panel-controls button {
  padding: 8px 10px;
  margin: 5px;
  font-size: large;
}
.edit-panel-controls button:enabled {
  border-color: #e619c3;
}

.savepanel {
  margin: 0 20px;
  font-size: 18px;
}
.savepanel h3 {
  font-size: 1.2em;
  margin-bottom: 0;
}
.savepanel h4 {
  margin-top: 0.2em;
}
.savepanel-inner {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  overflow: auto;
  padding: 10px;
}

@keyframes loadingpulse {
  10% {
    filter: invert(36%) sepia(82%) saturate(5169%) hue-rotate(291deg) brightness(88%) contrast(113%) drop-shadow(0 0 20px #e619c3);
  }
  20% {
    filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(2562%) hue-rotate(293deg) brightness(87%) contrast(92%);
  }
  35% {
    filter: invert(36%) sepia(82%) saturate(5169%) hue-rotate(291deg) brightness(88%) contrast(113%) drop-shadow(0 0 20px #e619c3);
  }
  45% {
    filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(2562%) hue-rotate(293deg) brightness(87%) contrast(92%);
  }
}
.loading-logo {
  filter: brightness(0) saturate(100%) invert(17%) sepia(91%) saturate(2562%) hue-rotate(293deg) brightness(87%) contrast(92%);
  animation-name: loadingpulse;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.player-container {
  display: flex;
}
.player-inner {
  clear: both;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row-reverse;
}
.player-video {
  margin: auto;
  width: 1920px;
  height: 1080px;
}
.player-video-container {
  display: flex;
  padding: 25px;
}
.player-video-info {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 310px;
  max-height: 1130px;
}
.player-video-info-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.player-video-info-id {
  color: rgba(211, 211, 211, 0.616);
  font-weight: bold;
}
.player-video-info .info-item {
  margin: 5px;
  padding: 4px 10px;
  overflow-wrap: break-word;
  min-width: 0px;
}
.player-video-info .clickable {
  background-color: #404040;
  color: #e619c3;
  border-radius: 4px;
}
.player-video-info-actors {
  margin-top: 0.6em;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}
.player-video-info-actors > .player-actor {
  margin: 0.6em auto;
  cursor: pointer;
}
.player-video-info-actors > .player-actor .actorgallery-image {
  width: 290px;
}
.player-video-info-actors > .player-actor span {
  margin: auto;
}
.player-video-info-actors > .player-actor-screenshot {
  padding: 5px;
  margin: auto 0;
}
.player-video-controls {
  display: flex;
  margin-top: auto;
  padding: 0 10px;
  flex-direction: column;
}
.player-video-controls-row {
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.player-video-controls button {
  width: 100%;
  padding: 5px 15px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #404040;
  color: #d9d9d9;
  font-family: "Noto Sans", sans-serif;
  color: #e619c3;
  font-size: 16px;
  font-weight: 600;
}
.player-favorite-icon {
  padding: 5px;
  margin: auto 0;
}
.player-actorimagegen-icon {
  padding: 5px;
  margin: auto 0;
}

.actordetail {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  padding: 15px 25px 25px 25px;
  background-color: #292929;
  border-radius: 0.3em;
}
.actordetail-header {
  margin: 0 auto 0 30px;
}
.actordetail-inner {
  display: flex;
}
.actordetail-image {
  margin-right: auto;
  margin-left: 25px;
}
.actordetail-image img {
  border: 5px solid #1f1f1f;
  border-radius: 0.3em;
  width: 500px;
}

.lds-dual-ring {
  /* change color here */
  color: #1f1f1f;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=stylesheet.css.map */
