@use 'vars' as *;

.svg-icon {
    filter: $black-to-text-filter;
}

.svg-icon-disabled {
    filter: $black-to-disabled-filter;
}

.svg-icon-pink {
    filter: $pink-1-filter;
}

.svg-icon-favorite {
    filter: $black-to-favorite-filter;
}

.text-icon {
    width: 16px;
    height: 16px;
}

.info-icon {
    background-color: $gray-1;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px 7px 0;
    padding: 6px 7px 2px 7px;
    min-width: 0px;
}
  
.favorite-icon {
    padding: 10px;
    margin: auto 0;
    cursor: pointer;
}