@use 'vars' as *;

.savepanel {
    margin: 0 20px;
    font-size: 18px;

    h3 {
        font-size: 1.2em;
        margin-bottom: 0;
    }
    
    h4 {
        margin-top: 0.2em;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        width: 700px;
        height: 500px;

        padding: 10px;
    }

    &-row {
        display: flex;
        flex-direction: row;

        input {
            margin-left: 15px;
            margin-right: auto;
            width: 60%;
        }
    }

    &-covers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        margin-top: 10px;

        .gallery {
            width: 140px;
            margin: 6px;
            flex: 1 1 auto;
            position: relative;
            
            &-inner {
                cursor: default;
            }

            &-overlay {
                position: absolute;
                width: 140px;
                height: 200px;
                background-color: rgba(40, 40, 40, 40%);
                border-radius: 0.3em 0.3em 0 0;

                .svg-icon {
                    margin-top: 75px;
                    opacity: 100%;
                    width: 50px;
                }
            }
        }
    
        .gallery-image {
            width: 140px;
        }
    
        .gallery .caption {
            width: 140px;
            margin: 0;
            font-size: 15px;
            font-weight: 400;

            .favorite-icon {
                display: none;
            }

            &-text {
                padding-left: 0;
            }
        }
    }

    &-controls {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: auto 10px 0 10px;

        button {
            padding: 8px 10px;
            margin: 5px;
            font-size: large;
        }

        button:enabled {
            border-color: $pink-1;
        }
    }
}