@use 'vars' as *;

.actordetail {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    padding: 15px 25px 25px 25px;
    background-color: $gray-3;
    border-radius: 0.3em;

    &.favorite {
        box-shadow: inset -22px 22px 28px -24px $yellow-favorite-glow;
    }

    &-header {
        display: flex;
        flex-direction: row;
        margin: 0 30px;

        & .favorite-icon {
            cursor: pointer;
            margin-left: auto;
        }
    }

    &-inner {
        display: flex;
    }

    &-image {
        margin-right: 25px;
        margin-left: 25px;

        & img {
            border: 5px solid $gray-2;
            border-radius: 0.3em;
            width: 500px;
        }
    }

    &-info {
        margin-right: auto;
        font-size: larger;
        font-weight: bold;

        &-row {
            display: flex;
        }

        &-label {
            margin: 0 5px;
        }

        &-value {
            color: $pink-1;
            margin-right: auto;
        }

        & .tags-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & .player-tag {
                display: flex;
                flex-direction: row;

                & .imagegen {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 5px;
                }
            }

            & .info-item {
                margin: 5px;
                padding: 4px 10px;
                overflow-wrap: break-word;
                min-width: 0px;
            }

            & .clickable {
                background-color: #404040;
                color: #e619c3;
                border-radius: 4px;
            }
        }
    }

    & .svg-icon-disabled {

        filter: brightness(0);
    }
}