@use 'vars' as *;
@use 'mixins' as *;

.actor-detail {
    @include detail-panel;

    &-info {
        margin-right: auto;
        font-size: larger;
        font-weight: bold;
        min-height: 0;
        overflow-y: auto;

        &-row {
            display: flex;
        }

        &-label {
            margin: 0 5px;
        }

        &-value {
            color: $pink-1;
            margin-right: auto;
        }

        .tags-list {
            @include tags-list;

            .info-item {
                @include info-item;
            }

            .clickable {
                @include info-item-clickable;
            }
        }
    }

    & .svg-icon-disabled {
        filter: brightness(0);
    }

    &-edit-button {
        @include text-underline-item;
        font-size: large;

        &::after {
            @include fading-underline(10%);
        }
    }
}
