@use 'vars' as *;
@use 'mixins' as *;

.book-info {
    display: flex;
    flex-direction: column;
    overflow: auto;
 
    &-inner {
        overflow: auto;
        flex-grow: 0;
    }

    .gallery {
        width: 280px;
        flex: 1 1 auto;
        margin: 0;

        &-inner {
            cursor: auto;
        }

        & .caption {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.04;
        }

        &-image {
            width: 280px;
        }
    }

    &-line {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        font-weight: 600;
        margin: 10px;
    
        .info-label {
            padding: 4px;
            margin-right: 10px;
            text-align: left;
            max-width: 30%;
        }
    
        .info-items {
            margin: 0;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-end;
        }
    
        .info-item {
            margin: 0 4px 7px auto;
            padding: 4px 10px;
            overflow-wrap: break-word;
            min-width: 0px;
        }
    
        .info-items .info-item {
            margin-left: 0;
        }

        & .info-item.clickable {
            @include info-item-clickable;
        }
    }

    .edit {
        &-container {
            margin: 15px 0 5px 0;
            padding: 0 30px;
        }

        &-button {
            @include media-button;
            width: 100%;
            padding: 5px;
            font-size: 16px;
        }
    }
}