@use 'vars' as *;

.book-info {
    display: flex;
    flex-direction: column;

    .gallery {
        width: 280px;
        flex: 1 1 auto;
        margin: 0;
    }

    .gallery-inner {
        cursor: auto;
    }

    .gallery .caption {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.04;
    }

    .gallery-image {
        width: 280px;
    }
}

.book-info-inner {
    margin: 30px 10px;
}

.book-info-line {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;

    .info-label {
        padding: 4px;
        margin-right: 10px;
        text-align: left;
        max-width: 30%;
    }

    .info-items {
        margin: 0;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .info-item {
        margin: 0 4px 7px auto;
        padding: 4px 10px;
        overflow-wrap: break-word;
        min-width: 0px;
    }

    .info-items .info-item {
        margin-left: 0;
    }
}


.book-info-line .info-item.clickable {
    background-color: $gray-1;
    color: $pink-1;
    border-radius: 4px;
}