@use 'vars' as *;
@use 'mixins' as *;

.filter-info {
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        flex-direction: row;
        padding-left: 5em;
    }

    &-item {
        @include pill;
    }

    &-label {
        @include pill-label;
    }

    &-value {
        @include pill-value;
    }
}
