@use 'vars' as *;

@keyframes loadingpulse {
    10% { filter: $pink-1-filter; }
    20% { filter: $pink-2-filter; }
    35% { filter: $pink-1-filter; }
    45% { filter: $pink-2-filter; }
}


.loading-logo {
    filter: $pink-2-filter;
    animation-name: loadingpulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.loading-modal {
    &-inner {
        display: flex;
        flex-direction: column;

        span {
            margin: 0 auto;
        }

        .loader {
            margin-bottom: 10px;
        }
    }
}