@use 'vars' as *;

.tag-select {
    display: flex;
    padding: 6px;
    font-size: 18px;
    background-color: $gray-1;
    color: $pink-1;
    border-radius: 0.3em;
    border: 1px solid $gray-3;
    margin: 10px auto;

    &-container {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    &-inner {
        padding: 10px;
        background-color: $gray-3;
    }

    option {
        display: flex;
        justify-content: flex-start;
        gap: 20px;

        border: 2px solid $gray-4;
        padding: 10px;
        transition: 0.4s;
    }



}