@use 'vars' as *;

.page-select {
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 5px 0 15px 0;
}

.stepper-arrow {
    margin: 0 6px;
}

.page-number {
    margin: 0 8px;

    div {
        padding-top: 2px;
        display: inline;
    }
}

.page-select-number {
    width: 40px;
    background-color: $gray-1;
    font-size: 18px;
    color: $text-color;
    display: inline-block;
    border: 0;
    border-radius: 3px;
    text-align: center;
    padding: 2px 0;

    &:disabled {
        width: 1rem;
        background-color: $gray-2;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

.stepper-arrow {
    cursor: pointer;
    height: 100%;

    img {
        height: 25px;
    }
}