@use 'vars' as *;
@use 'mixins' as *;

.player {
    &-container {
        display: flex;
    }

    &-inner {
        @include gallery-container;
        display: flex;
        flex-direction: row-reverse;

        &.favorite {
            box-shadow: inset 12px 12px 28px -24px $yellow-favorite-glow;
        }
    }

    &-video {
        margin: auto;

        &-container {
            width: 1920px;
            display: flex;
            padding: 25px;
        }

        &-sidebar {
            margin: 0 auto;
            padding: 10px;
            max-width: 310px;
            max-height: 1130px;
        }

        &-info {
            height: 100%;
            display: flex;
            flex-direction: column;

            &-title {
                margin-top: 1em;
                margin-bottom: 0.5em;
            }

            &-id {
                color: rgba(211, 211, 211, 0.616);
                font-weight: bold;
            }

            &-source {
                margin: 0.5em;
                font-weight: bold;
            }

            .info-item {
                @include info-item;
            }

            .clickable {
                @include info-item-clickable;
            }

            &-actors {
                margin-top: 0.6em;
                display: flex;
                flex-wrap: wrap;
                overflow-x: hidden;
                overflow-y: auto;

                &>.player-actor {
                    margin: 0.6em auto;
                    cursor: pointer;

                    & .actor-gallery-image {
                        width: 290px;
                    }

                    & span {
                        margin: auto;
                    }

                    &-screenshot {
                        padding: 5px;
                        margin: auto 0;
                    }
                }
            }

            &-tags {
                margin: 10px 0;

                & .tags-header {
                    padding-bottom: 5px;
                    margin: 0;
                    margin-right: auto;
                    margin-bottom: 6px;
                    border-bottom: 1px solid $gray-3;
                }

                .tags-list {
                    @include tags-list;
                }

            }

        }

        &-controls {
            display: flex;
            margin-top: auto;
            padding: 0 10px;
            flex-direction: column;

            &-row {
                margin: 10px;
                display: flex;
                flex-direction: row;
            }

            & button {
                @include media-button;
                width: 100%;
                padding: 5px 15px;
                margin: 0 auto;
                font-size: 16px;
            }
        }

        &-favorite {
            position: absolute;
            cursor: pointer;
        }

    }

    &-actor-favorite {
        padding: 5px 10px;
        margin: auto 0;
    }

    &-actor-image-gen-icon {
        padding: 5px 10px;
        margin: auto 0;
    }
}