@use 'vars' as *;

.slideshow {
    &-image {
        max-height: 95%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;

        .show-sidebar & {
            left: 300px;
        }
    }

    &-overlay {
        display: block;
        position: relative;
        z-index: 3;
        height: 95vh;

        div {
            display: inline-block;
            width: 50%;
            height: 95vh;
        }
    }
    
    &-sidebar {
        height: calc(93% - 50px);
        width: 280px;
        position: absolute;
        left: 0;
        top: 50px;
        padding: 65px 10px 10px 10px;
        background-color: $gray-2;
        z-index: 1;
        visibility: hidden;

        .show-sidebar & {
            visibility: visible;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
            z-index: 5;
        }

        &-stack {
            display: flex;
            justify-content: center;
            font-size: large;
            padding: 5px 0 15px 0;
    
            div {
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &-toggle {
            position: absolute;
            left: 0;
            top: 50px;
            width: 30px;
            height: 30px;
            padding: 10px;
            background-color: $gray-2;
            z-index: 6;
    
            img {
                height: 30px;
            }
        }
    }

    &-controls {
        padding: 5px 0 15px 0;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            height: 45px;
            padding: 10px;
            margin: 0 15px;
            border-radius: 3px;
            background-color: $gray-1;
            color: $text-color;
            font-family: 'Noto Sans', sans-serif;
        }
          
        .interval-input input, .interval-counter input {
            width: 35px;
            height: 25px;
            text-align: center;
            background-color: $gray-1;
            color: $text-color;
            font-family: 'Noto Sans', sans-serif;
            border: 1px solid #343434;
            border-radius: 3px;
            font-size: 17px;
        }
    }

    &-count {
        display: inline-block;
        background-color: $red;
        min-width: 20px;
        min-height: 20px;
        text-align: center;
        padding: 1px 5px;
        border-radius: 3px;
        margin-left: 3px;
    }

    &-covers {
        flex-direction: column;
        overflow-y: auto;
        max-height: 1020px;
        background-color: $gray-4;

        .gallery {
            width: 240px;
            margin: 6px;
            flex: 1 1 auto;
        }

        .gallery-image {
            width: 240px;
        }

        .gallery .caption {
            width: auto;
            margin: 0;
            font-size: 15px;
            font-weight: 400;
        }
    }
}