@use 'vars' as *;

.tagsgallery {
    &-container {
        clear: both;
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
        width: 90%;
        background-color: $gray-2;
    }

    &-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &-tag {
        display: flex;
        flex-direction: row;
        background-color: $gray-3;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: 600;
        margin-right: 8px;

        &-label {
            background-color: $gray-1;
            padding: 8px 8px 8px 16px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            color: $pink-1;
        }

        &-value {
            padding: 8px 16px 8px 8px;
            color: $text-color;
            text-decoration: none;
        }
    }

    &-typeSelect {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;

        & div {
            background-color: $gray-1;
            padding: .5em 1.5em;
            margin: 2px;
            border: 2px solid $gray-3;
            font-weight: 550;
            font-size: 16px;

            &:last-child {
                margin-right: auto;
                border-radius: 0 10px 10px 0;
            }

            &:first-child {
                margin-left: auto;
                border-radius: 10px 0 0 10px;
            }

            &.selected {
                border: 2px solid $yellow-highlight;
                box-sizing: border-box;
            }
        }



    }
}