$text-color: #d9d9d9;
$link-color: #00B7FF;
$gray-1: #404040;
$gray-2: #1f1f1f;
$gray-3: #292929;
$gray-4: #0d0d0d;
$red: #a10016;
$pink-1: #e619c3;
$yellow-highlight: #e6e3aa;
$yellow-favorite: #ebcd21;
$yellow-favorite-glow: #ebcd21ad;
$pink-1-filter: invert(36%) sepia(82%) saturate(5169%) hue-rotate(291deg) brightness(88%) contrast(113%);
$black-to-text-filter: invert(87%) sepia(6%) saturate(19%) hue-rotate(27deg) brightness(104%) contrast(84%);
$black-to-disabled-filter: brightness(0) saturate(100%) invert(13%) sepia(10%) saturate(18%) hue-rotate(51deg) brightness(96%) contrast(92%);
$black-to-favorite-filter: invert(87%) sepia(15%) saturate(2234%) hue-rotate(358deg) brightness(97%) contrast(92%);